* {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 400;
}



.popuprince {
    position: fixed;
    top: 0;
    left:0;
    width:100%;
    height:100vh;
    background-color: rgba(0,0,0,0.2);
    display:flex;
    justify-content: center;
    align-items:center;
}

.form-page {
    color: black;
  }
  
.popupInner {
    position: relative;
    padding: 32px;
    width: 100%;
    max-width: 640px;
    background-color: #fff;
}

.closeButton {
    position: absolute;
    top: 16px;
    right: 16px;
    background-color: #fff;
    border-radius: 2px;
    color: #0672CB;
    padding: 10px 20px;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}